fastapi==0.111.0
uvicorn[standard]==0.30.1
selenium==4.21.0
webdriver-manager==4.0.1
pandas==2.2.2
openpyxl==3.1.2
curl_cffi==0.7.3
beautifulsoup4==4.12.3
requests==2.32.3
aiosqlite==0.20.0
pydantic==2.7.4
python-multipart==0.0.9
lxml==5.2.2
